@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body
{
justify-content: center;
align-items: center;
background-color: #6BBF98;

}
#main
{
    background-color: #2a8563e7;
    border: 2px  #2a8563e7;
    font-family: 'Roboto', sans-serif;
    width: 365px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 250px auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#link
{
    font-size: 80px;
    text-decoration: none;
    color: white;
}

#main:hover
{
    background-color: #5BA68A;
    transform: scale(1.5);
}